# Chapter 2 - Data Preparation Basics
## Segment 1 - Filtering and selecting data

In [2]:
import numpy as np
import pandas as pd 
from pandas import Series , DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
- Label index or 
- Integer index

In [17]:
series_obj = Series(np.arange(8), index = ['row 1','row 2','row 3','row 4','row 5','row 6','row 7'
                                           ,'row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32

In [19]:
series_obj[[0,7,3]]

row 1    0
row 8    7
row 4    3
dtype: int32

In [20]:
series_obj['row 3']

2

In [81]:
np.random.seed(25)
df_obj = DataFrame(np.random.rand(36).reshape((6,6)), index=[ 'row 1', 'row 2','row 3','row 4','row 5','row 6'],
                      columns=['col 1','col 2','col 3','col 4','col 5','col 6'])

In [27]:
df_obj

          col 1     col 2     col 3     col 4     col 5     col 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [30]:
df_obj.loc[['row 2','row 5'], ['col 2','col 5']]

          col 2     col 5
row 2  0.437611  0.402366
row 5  0.559053  0.421004

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

In [33]:
series_obj['row 2':'row 5']

row 2    1
row 3    2
row 4    3
row 5    4
dtype: int32

In [45]:
x=df_obj['row 2':'row 4']
x[['col 2','col 3']]

          col 2     col 3
row 2  0.437611  0.556229
row 3  0.585445  0.161985
row 4  0.836375  0.481343

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

In [46]:
df_obj < .2

       col 1  col 2  col 3  col 4  col 5  col 6
row 1  False  False  False   True  False   True
row 2  False  False  False  False  False   True
row 3  False  False   True  False  False  False
row 4  False  False  False  False  False  False
row 5  False  False   True  False  False  False
row 6  False  False  False  False  False  False

### Filtering with scalars

In [48]:
df_obj[ df_obj < .2]

       col 1  col 2     col 3     col 4  col 5     col 6
row 1    NaN    NaN       NaN  0.185911    NaN  0.117376
row 2    NaN    NaN       NaN       NaN    NaN  0.113041
row 3    NaN    NaN  0.161985       NaN    NaN       NaN
row 4    NaN    NaN       NaN       NaN    NaN       NaN
row 5    NaN    NaN  0.034450       NaN    NaN       NaN
row 6    NaN    NaN       NaN       NaN    NaN       NaN

In [49]:
series_obj[series_obj < .2]

row 1    0
dtype: int32

### Setting values with scalars

In [86]:
df_obj.loc['row 1':'row 5']= 9

df_obj

          col 1     col 2     col 3     col 4     col 5     col 6
row 1  9.000000  9.000000  9.000000  9.000000  9.000000  9.000000
row 2  9.000000  9.000000  9.000000  9.000000  9.000000  9.000000
row 3  9.000000  9.000000  9.000000  9.000000  9.000000  9.000000
row 4  9.000000  9.000000  9.000000  9.000000  9.000000  9.000000
row 5  9.000000  9.000000  9.000000  9.000000  9.000000  9.000000
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [88]:
series_obj['row 1':'row 5'] = 8
series_obj

row 1    8
row 2    8
row 3    8
row 4    8
row 5    8
row 6    5
row 7    6
row 8    7
dtype: int32

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.