# Chapter 2 - Data Preparation Basics
## Segment 5 - Grouping and data aggregation

In [34]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Grouping data by column index

In [49]:
address = 'C:/Users/hp/Downloads/python data science screenshot/Ex_Files_Python_Data_Science_EssT_Pt_1/Ex_Files_Python_Data_Science_EssT_Pt_1/Exercise Files/Data/mtcars.csv'
cars = pd.read_csv(address,',')   # ',' is default you can use ' ' in case of space separated
cars.columns = [('car_name'if x=='Unnamed: 0' else x ) for x in cars.columns]

below is a dictionary which is used to define column_name:data_in_that column

In [55]:
d = {
        "one": pd.Series([1.0, 2.0, 3.0]),
        "two": pd.Series([1.0, 2.0, 3.0, 4.0]),
    }
data_fram= DataFrame(d)

In [56]:
cars.head(4)

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1

In [66]:
cars_groups = cars.groupby(cars['cyl'])

In [71]:
cars_groups.median()    #use function of your choice

      mpg   disp     hp   drat     wt    qsec   vs   am  gear  carb
cyl
4    26.0  108.0   91.0  4.080  2.200  18.900  1.0  1.0   4.0   2.0
6    19.7  167.6  110.0  3.900  3.215  18.300  1.0  0.0   4.0   4.0
8    15.2  350.5  192.5  3.115  3.755  17.175  0.0  0.0   3.0   3.5